body{
    font-family: sans-serif;
    background-color: rgba(45,45,45);
    color: white;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

a{
    color: rgb(190, 0, 195);
    text-decoration: none;
}

hr{
    width: 100%;
    border: solid 1px white;
}